.App {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  text-rendering: optimizeSpeed;
}

.App-header,
.App-body {
  background: #FFFFFF;
}

.App-body {
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  margin: 10vh 0;
  min-width: 60vh;
}

.App-footer {
  align-self: center;
  background: #FFFFFF;
  bottom: 2vh;
  position: fixed;
}

.Primary-btn {
  background-image: linear-gradient(-111deg, #F16534 4%, #ED3535 100%);
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0 2vh;
}

.Primary-btn:hover {
  opacity: 0.9;
}

.Primary-btn:active {
  background-image: linear-gradient(-111deg, #ED3535 4%, #F16534 100%);
}

/* @media screen {
  .App-body {
    margin: 30vh 0;
  }
} */

/* @media (orientation: landscape) {
  .App-body {
    margin: 40vh 0;
    min-width: 60vw;
  }
} */

/* @media screen and (orientation: portrait) {
  .App-body {
    margin: 40vh 0;
    min-width: 60vh;
  }
} */

@media not screen {
  .App>* {
    font-size: calc(10px + 2vmin);
  }
}
