.App {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  text-rendering: optimizeSpeed;

  position: relative;
}

.App-header {
  background: #FFFFFF;
}

.App-footer {
  align-self: center;
  display: flex;
}

.Primary-btn {
  background-image: linear-gradient(-111deg, #F16534 4%, #ED3535 100%);
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0 2vh;
}

.Primary-btn:hover {
  opacity: 0.9;
}

.Primary-btn:active {
  background-image: linear-gradient(-111deg, #ED3535 4%, #F16534 100%);
}

@media not screen {

  .App>* {
    font-size: calc(10px + 2vmin);
  }
}

@media (orientation: portrait) {

  .App-body {
    min-height: 85vh;
  }
}

@media (orientation: landscape) {

  .App-body {
    min-height: 75vh;
    margin-bottom: 5%;
  }
}
